{% extends 'base.html' %}

{% block content %}
<!-- Página Inicial da CAE Start -->
<div class="container-fluid py-5">
    <div class="container py-5 d-flex flex-column justify-content-center" style="min-height: calc(100vh - 150px);">
        <div class="text-center mx-auto mb-4" style="max-width: 700px;">
            <h1 class="text-primary">Página Inicial da CAE</h1>
            <p class="mb-4">Visualize e gerencie as solicitações pendentes.</p>
        </div>
    </div>
</div>
<!-- Página Inicial da CAE End -->
{% endblock %}
